$color-primary: #252a34; // Negro azulado
$color-secondary: #ff3e3e; // Rojo
$color-accent: #7eff99; // Verde menta
$color-text: #ffffff; // Blanco
.card {
  background-color: $color-primary;
  border-radius: 10px;
  padding: 30px;
  color: $color-text;
  width: 100vh;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 767px) {
    max-width: 100%;
  }
  }
  
  .title {
    color: $color-secondary;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: center;
  
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: bold;
    }
  
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #ffffff;
      color: $color-primary;
      margin-bottom: 10px;
    }
  }
  
  .button {
    background-color: $color-secondary;
    color: $color-text;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: .625rem;
  }
  